.chart {
  top: 10vh;
  justify-content: center;
  position: relative;
  margin: auto;
  border: 3px black solid;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}
